<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bus dublin in the last hour...</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" href="../../static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css"/>
        
    <script th:src="@{/js/sockjs-0.3.4.js}" src="../../js/sockjs-0.3.4.js"></script>
    <script th:src="@{/js/stomp.js}" src="../../js/stomp.js"></script>
    <script th:src="@{/js/jquery-1.7.2.js}" src="../../js/jquery-1.7.2.js"></script>
    <script th:src="@{/js/moment.min.js}" src="../../js/moment.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <style>
      html, body, #map-canvas {
	    width: 100%;
		height: 300px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBQOHsCmX2_zHvytZgqIIlnxQNBVssdm7c&amp;sensor=true" type="text/javascript"></script>
    <script type="text/javascript">
    	var map = null;
//53.3243201,-6.251695,11z dublin
    
    	//window.onload = quickloadScript;
    
          var stompClient = null;
          function connect() {
        	  //console.log('Trying to connect to rabbit-stomp queue...');
              var socket = new SockJS('/busdublinsep');
              stompClient = Stomp.over(socket);
              stompClient.connect({}, function(frame) {
                  console.log('Connected: ' + frame);
                  stompClient.subscribe('/topic/busdublin.all', function(message){
                	  var quote = JSON.parse(message.body);
                	  
                	  var busdata = quote.data;
                	  var trs = "";
					  var tds = "";
			          var ref = "";
			          var name;
                	  for (var key in busdata) {
							if (busdata.hasOwnProperty(key)) {
			            		  var obj = busdata[key];
			            	      for (var prop in obj) {
			            	         if (obj.hasOwnProperty(prop)) {
			            	            if (prop=='href'){
				            	            ref = "http://dublinbus-api.heroku.com"+obj[prop];
			            	            	tds += "<td><a href="+ ref + ">" + obj[prop] + "</a></td>";
				            	       	}
			            	            if (prop=='name'){
			            	            	tds += "<td>"+obj[prop]+"</td>";
			            	            	name=obj[prop];
			            	            	//quiero quitar las comillas que pueden venir
			            	            	var patron="''";
				            	            name=name.replace(patron,"");
				            	       	}
			            	            if (prop=='location'){
				            	            var latlon = obj[prop].split(",");
				            	            var lat = latlon[0];
				            	            var lon = latlon[1];
											//var side = "handleGeLocationLatLonSide('" + name + "'," + lat + "," + lon + ")";
			            	            	var s = "handleGeLocationLatLon(" + lat + "," + lon + ");";
			            	            	console.log(s);
			            	            	tds += "<td onclick=" + s + ">" + obj[prop] +"</td>";
			            	            	//tds += "<td onclick=" + side + ">" + obj[prop] +"</td>";
			            	            	//handleGeLocationLatLon("mycontent",lat,lon);
			            	            	//tds += "<td>"+ obj[prop] +"</td>";
				            	       	}
			            	            if (prop=='active'){
			            	            	tds += "<td>"+obj[prop]+"</td>";
				            	       	}
			            	         }
			            	      }
			            	      trs +="<tr>" + tds+"</tr>";
			            	      //reinicio el buffer con las nuevas columnas
			    		          tds="";
			            	   }//del if
                      }//del for
                	  $("#busbody tbody").html(trs);
                  });//del stompClient.subscribe
              });
              console.log("connect done!");
          }//de la funcion

	  function initialize() {
        var mapOptions = {
          //center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 6
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		//alert(map + " init");
     // Try HTML5 geolocation
		tryGeoLocation(map);
		console.log("initialize done!");
      }

      function tryGeoLocation(map){
          if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                                                 position.coords.longitude);

                var infowindow = new google.maps.InfoWindow({
                  map: map,
                  position: pos,
                  content: 'You are here.'
                });

                map.setCenter(pos);
              }, function() {
                handleNoGeolocation(true);
              });
            } 
            else {
              // Browser doesn't support Geolocation
              handleNoGeolocation(false);
            }
          console.log("tryGeoLocation done!");
      }
      function handleNoGeolocation(errorFlag) {
    	  if (errorFlag) {
    	    var content = 'Error: The Geolocation service failed.';
    	  } else {
    	    var content = 'Error: Your browser doesn\'t support geolocation.';
    	  }

    	  var options = {
    	    map: map,
    	    position: new google.maps.LatLng(60, 105),
    	    content: content
    	  };

    	  var infowindow = new google.maps.InfoWindow(options);
    	  map.setCenter(options.position);
       }

      function handleGeLocationLatLonSide(name,lat,lon){

		  var content = name + " lat: " + lat + " lon: "+ lon;
    	  var options = {
    	    	    map: map,
    	    	    zoom: 1,
    	    	    position: new google.maps.LatLng(lat, lon),
    	    	    content: content
    	    	  };
    	  		  //alert("content: " + content + " lat: " + lat + " lon: " + lon + " options: " + options);	
    	    	  var infowindow = new google.maps.InfoWindow(options);
    	    	  map.setCenter(options.position);		
    	    	  console.log("handleGeLocationLatLonSide done!");
      }

      
      function handleGeLocationLatLon(lat,lon){

		  var content = "lat: " + lat + " lon: "+ lon;
    	  var options = {
    	    	    map: map,
    	    	    zoom: 1,
    	    	    position: new google.maps.LatLng(lat, lon),
    	    	    content: content
    	    	  };
    	  		  //alert("content: " + content + " lat: " + lat + " lon: " + lon + " options: " + options);	
			var infowindow = new google.maps.InfoWindow(options);
    	    map.setCenter(options.position);		
    	    console.log("handleGeLocationLatLon done!");
    	    $('#busbody').focus();
    	}
  	
    </script>    
  </head>
  <body onload="initialize();connect();">
    
    <div class="container">
    	<div class="row">
    		<div id="map-canvas" class="col-sm-12"></div>
    		<a href="#" onclick="tryGeoLocation(map)">Where am i?</a>
	    </div>
	    <div class="row">
		    <div class="col-sm-12">
		     	<h1 class="well well-small">Location Dublin buses</h1>
		     </div> 
	    </div>	
	    <div class="row">
		    <div class="col-sm-12">
		      <table class="table table-bordered table-striped" id="busbody">
		        <thead>
		          <tr>
		          	<th width="20%">Current live information</th>
		            <th width="20%">Name Station</th>
		            <th width="20%">Location</th>
		            <th width="20%">active</th>
		          </tr>
		        </thead>
		        <tbody>
		        </tbody>
		      </table>
			</div>
		</div>    
    </div>
  </body>
</html>